:root {
    --main-gray: rgb(77, 77, 77);
    --main-green: #04AA6D;
    --sidenav: #f5f5f5;
    --light-gray: #ededed;
    --overlay-bg: rgb(0,0,0,0.5);
}

body {
    font-family: 'Readex Pro', sans-serif;
    background-color: white;
    min-width: 350px;
    overflow: hidden;
    height: 100vh;
    font-weight: 300;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenav);
    overflow-x: hidden;
    padding: 30px 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    color: var(--main-gray);
}

.sidenav a.active, .sidenav a:hover {
    font-weight: 400;
    transition: ease;
}

.logocontainer {
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo {
    width: 180px;
    height: auto;
    padding-bottom: 2rem;
}

main {
    top: 0;
    position: absolute;
    left: 340px;
    padding: 40px;
    padding-top: 60px;
    width: calc(100vw - 420px);
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 1.7em;
    font-weight: 400;
    color: var(--main-gray);
}

h2 {
    font-size: 1.2em;
    padding-top: 2rem;
    color: var(--main-gray);
}

.subhead {
    text-transform: uppercase;
    font-weight: 400;
    padding: 30px 8px 0px 32px;
    color: var(--main-gray);
}

#signout {
    color: red;
}

/* Past Activities */

#no-entries, #future-no-entries {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 40px;
}

.btn {
    background: var(--main-green);
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover {
    opacity: 0.8;
}

/* Table styles */

.tablecontainer {
    max-height: 600px;
    overflow-y: scroll;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
}
  
.table td, .table th {
    padding: 15px;
    border-bottom: 1px solid var(--light-gray);
}

.table th.date {
    width: 30%;
}

.table tr:hover {background-color: var(--light-gray);}
  
.table th {
    text-align: left;
    background-color: var(--light-gray);
    color: var(--main-green);
    font-weight: 600;
}

/* Overlay */
#pastAct-overlay, #futureAct-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 4rem 1rem;
    margin: 0 30px;
    width: 70%;
}

.dark-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--overlay-bg);
    z-index: 2;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}

/* || Form Styles */
/* Add form on activity logger */
.form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#futureAct-form .form {
    justify-content: center;
    width: auto;
}

#futureAct-form label {
    margin: 0 1rem;
}

#submitPastActivity, #submitFutureActivity {
    max-width: 20%;
}

#pastAct-form label, #submitPastActivity {
    width: 15%;
    margin: 10px;
}

#futureAct-form label, #submitFutureActivity {
    width: 25%;
}

input, select {
    background-color: white;
    border: 1px solid #c1c1c1;
    padding: 8px 10px;
    border-radius: 3px;
    width: 100%;
    -webkit-appearance: none;
}

select {
    -webkit-padding-after: 10px;
    -webkit-padding-before: 10px;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown::after {
    content: "\25be";
    position: absolute;
    color: var(--main-gray);
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Past activity date picker */
.datepicker {
    margin-top: 2rem;
    width: 30%;
}

.hide {
    display: none;
}

.show {
    display: flex;
}


/* Future plans */
#future-activities {
    padding-bottom: 1rem;
    max-height: 600px;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

.goal {
    margin: 1rem 0;
    padding: 1.3rem;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

p#future-no-entries {
    padding-top: 2rem;
}
