.reminder-card {
    margin-top: 2rem;
    box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease;
    background-color: #04aa6da3;
    max-width: 600px;
}

#reminder {
    font-weight: 300;
    white-space: pre-wrap;
}

#reminder-option-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .reminder-option {
    text-decoration: underline;
  }
  
  .reminder-option + .reminder-option {
    margin-left: 60px;
  }
  
  .reminder-option:hover {
    cursor: pointer;
  }

  .hide {
      display: none;
      transition: 0.2s ease;
  }

/* Progress form */
.progress-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-weight: 300;
}

.progress-form {
    padding-top: 2rem;
}

.progress-form label {
    width: 30%;
    margin-right: 40px;
}